@font-face {
  font-family: 'DelegateTM';
  src: url('./assets/DelegateTM.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DelegateTM', sans-serif;
}

